<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ColorCounter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ColorCounter.Properties.Settings>
            <setting name="C1_Brightness" serializeAs="String">
                <value>0.95</value>
            </setting>
            <setting name="C2_Brightness" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="C3_Saturation" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="C3_Hue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="C3_Value" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="C4_Brightness_Low" serializeAs="String">
                <value>0.2</value>
            </setting>
            <setting name="C4_Brightness_High" serializeAs="String">
                <value>0.85</value>
            </setting>
            <setting name="C5_Saturation" serializeAs="String">
                <value>0.6</value>
            </setting>
            <setting name="C5_Value" serializeAs="String">
                <value>0.75</value>
            </setting>
            <setting name="C6_Value" serializeAs="String">
                <value>0.75</value>
            </setting>
        </ColorCounter.Properties.Settings>
    </userSettings>
</configuration>